@font-face {
  font-family: 'Director Regular';
  src: url(./fonts/Director-Regular.woff);
  src: url(./fonts/Director-Regular.woff2);
}

@font-face {
  font-family: 'Equateur Regular';
  src: url(./fonts/Equateur-Regular.woff);
  src: url(./fonts/Equateur-Regular.woff2);
}

@font-face {
  font-family: 'Karrik';
  src: url(./fonts/Karrik-Regular.woff);
  src: url(./fonts/Karrik-Regular.woff2);
}

@font-face {
  font-family: 'Format';
  src: url(./fonts/Format_1452.woff);
  src: url(./fonts/Karrik-Regular.woff2);
}

body {
  margin: 0px;
  font-family: 'Lack';
  /* letter-spacing: 0.3rem; */
}

a {
  text-decoration: none;
  color:#faebd7;
  font-size: 30px;
  
}

button {
  font-family: 'Equateur Regular';
  color:#faebd7;
  padding: 10px;
  border: 1px solid #faebd7;
  background: inherit;
  cursor: pointer;
}

p {
  line-height: 1.5;
}


h1 {
  margin-block-end: 29.05px !important;
  margin-block-start: 29.05px !important;
}

.content-container {
  width: 100vw;
  /* background-color: #16161b; */
  /* background-color: #3F4E4F; */
  color:#faebd7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.home-text-wrapper {
  display: block;
  width: 100%;
  padding: 30px;
  height: 70%;
  top: 40;
  bottom: 40;
  background-color: #3F4E4F;
}

.name {
  font-size: 65px
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 26px;
}

.contact-wrapper {
  display: flex;
  align-items: center;
}
.contact-wrapper img {
  height: 1.2rem; 
  margin-right: 10px;
}
.contact-me {
  font-size: 22px;
  color: #9f5252;
}

#menu-work-container {
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: 20vw;
  height: 20vh;
  padding: 40px;
}

#menu-about-container {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 20vw;
  height: 20vh;
  padding: 40px;
}

#linkedin-container {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 20vw;
  height: 20vh;
  padding: 40px;
}

#github-container {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  width: 20vw;
  height: 20vh;
  padding: 40px;
}

.menu-work {
  position: fixed;
  top: 2.25rem;
  right: 2.25rem;
}

.menu-about {
  position: fixed;
  top: 2.25rem;
  left: 2.25rem;
}

.linkedin {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 2.25rem;
  left: 2.25rem;
  border-radius: 30px;
  background-color: #faebd7;
}

.github {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 2.25rem;
  right: 2.25rem;
  background-color: #faebd7;
  border-radius: 30px;
}

.logo {
  position: fixed;
  top: -60%;
  left: 45%;
  z-index: 0;
 
}

a img {
  width: 72px;
}


.about-image {
  width: 250px;
  border-radius: 100%;
}


.project-window {
  /* background-color: #313d3e; */
  width: 60%;
  padding: 5  0px;
  height: 70%;
  top: 40;
  bottom: 40;
  position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;  
}
.projects-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6bebe;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9f5252;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* RESPONSIVE STYLES */

@media(max-width:900px) {

  .menu-work {
    top: 1.25rem;
    right: 1.25rem;
  }

  .menu-about {
    top: 1.25rem;
    left: 1.25rem;
  }

  .linkedin {
    bottom: 1.25rem;
    left: 1rem;
  }

  .github {
    bottom: 1.25rem;
    right: 1rem;
  }

  .about-image {
    width: 200px;
  }
}

@media(max-width:668px) {
  .home-text-wrapper {
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
}





